$col-primary: #5d7f9c;
$col-dark: #666666; // #4a4a4a;
$col-darkest: #4a4a4a;
$col-light: #f2f2f2;

:root {
  /* Colours */
  --hsl-dark: 0 0% 20%; // black
  --col-dark: hsl(var(--hsl-dark));

  --hsl-light: 0 0% 98%; // light grey
  --col-light: hsl(var(--hsl-light));

  --col-white: #ffffff;

  --hsl-grey-100: 0 0% 90%; // #d3d3d3
  --col-grey-100: hsl(var(--hsl-grey-100));

  --hsl-grey-400: 0 0% 83%; // #d3d3d3
  --col-grey-400: hsl(var(--hsl-grey-400));

  --hsl-accent-400: 19 59% 73%; // #E3AC92
  --col-accent-400: hsl(var(--hsl-accent-400));

  --hsl-accent-900: 0 11% 33%; // #5C4A4A
  --col-accent-900: hsl(var(--hsl-accent-900));

  --col-gold-gradient: radial-gradient(
      circle at 20% 30%,
      #f3e9e2,
      transparent 60%
    ),
    radial-gradient(circle at 80% 20%, #e4dcd9, transparent 70%),
    radial-gradient(circle at 50% 80%, #d6b9a8, transparent 80%),
    linear-gradient(135deg, #f6efe8 0%, #d5c1b6 100%);

  /* Font Sizes */

  --fs-900: 3.333rem; /* 60px */
  --fs-800: 2.667rem; /* 48px */
  --fs-700: 2rem; /* 36px */
  --fs-600: 1.333rem; /* 24px */
  --fs-500: 1.111rem; /* 20px */
  --fs-400: 1rem; /* 18px */
  --fs-300: 0.875rem; /* 15.75px */
  --fs-200: 0.75rem; /* 13.5px */
  --fs-100: 0.667rem; /* 12px */

  /* Font Families */
  --ff-body: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
  --ff-heading: "Playfair Display", Georgia, "Times New Roman", serif;
  --ff-fa: "Font Awesome 6 Free";

  /* Font Weights */
  --fw-400: 300;
  --fw-600: 600;
  --fw-800: 600;

  /* Effects */
  --transition: 250ms ease-out;

  /* Site General */
  --h-top: 82px;
  --h-top-desktop: 125px;
}
